.hidden {
  display: none;
}

.body {
  background-color: salmon;
}

div.container {
  font-family: 'Courier New', Courier, monospace;
  background-color: antiquewhite;
  margin: 10px;
  border: 3px solid black;
  padding: 5px;
  background-color: salmon;
  box-sizing: border-box;
  text-align: left;
}